# IN THE NAME OF GOD

Afsaneh Sarboland - Ex3

In [2]:
import numpy as np
import pandas as pd

In [3]:
url='D:\MS. AI\Books\Machine Learning\Master\Regression-master\Regression-master\kc_house_data.csv'
data=pd.read_csv(url)
data.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

First of all we read the data set, we assume the column of price as Y and the whole of data as X but we drop the column of price from it.

In [4]:
Y=data['price']
X=data
X=X.drop(['price'],axis=1)
X.head()

,id,date,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

Then we convert Y to a matrix because the Y is a vector and according to the formula W=(HT*H)^-1*H*Y but the dimension of Y doesn't match with the dimension of H, so we forced to convret it which matches with dimension of H.

In [5]:
Y2=np.matrix(Y)
Y3=Y2.T
Y3.shape

(21613, 1)

For creating matrix of H, we selected 7 features of X,and according to yi=sigma j=0:D wj hj(xi)+ei or yi=w0+w1*x1+w2*x2+...+wD*xi so for w0 we assume the x0 is 1, that's why we insert a column with values of 1.

In [6]:
features=['bedrooms','bathrooms','sqft_living','sqft_lot','floors','yr_built']
H=X[features]
H['intersept']=1
H.head()

C:\Users\Legend\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

   bedrooms  bathrooms  sqft_living  sqft_lot  floors  yr_built  intersept
0         3       1.00         1180      5650     1.0      1955          1
1         3       2.25         2570      7242     2.0      1951          1
2         2       1.00          770     10000     1.0      1933          1
3         4       3.00         1960      5000     1.0      1965          1
4         3       2.00         1680      8080     1.0      1987          1

In [7]:
d=X.shape[1] #The number of whole features of X.
D=H.shape[1] #The number of features that we assumed.
N=len(H)     #The number of X or the number of data.
print('d=%d,D=%d,N=%d'%(d,D,N))
X.shape      #Dimension of X matrix.

d=20,D=7,N=21613

(21613, 20)

Then for getting the transpose and multiplication we convert H to a matrix and after that we calculated transpose of it.

In [8]:
H=np.matrix(H)

In [9]:
HT=H.T   #Transpose of H
HT.shape #Dimension of HT

(7, 21613)

In [10]:
H.shape  #Dimension of H

(21613, 7)

In [19]:
temp1=HT*H

In [12]:
temp1.shape

(7, 7)

In [14]:
temp2=temp1.I #Inverse of HT*H
temp2

matrix([[ 8.40242254e-05, -2.76454855e-05, -3.69800177e-08,
          1.19545359e-10,  1.08698346e-05,  2.17629546e-07,
         -5.94851946e-04],
        [-2.76454855e-05,  2.45493089e-04, -1.12559711e-07,
          1.01821580e-10, -5.99930351e-05, -1.47075569e-06,
          2.79512009e-03],
        [-3.69800177e-08, -1.12559711e-07,  1.48969106e-10,
         -3.71425058e-13, -5.45020892e-09,  2.69316515e-10,
         -4.64219381e-07],
        [ 1.19545359e-10,  1.01821580e-10, -3.71425058e-13,
          2.82274157e-14,  1.78091828e-10, -1.95568717e-12,
          3.31634505e-09],
        [ 1.08698346e-05, -5.99930351e-05, -5.45020892e-09,
          1.78091828e-10,  2.37624680e-04, -1.35376563e-06,
          2.41207000e-03],
        [ 2.17629546e-07, -1.47075569e-06,  2.69316515e-10,
         -1.95568717e-12, -1.35376563e-06,  8.17255463e-08,
         -1.57212438e-04],
        [-5.94851946e-04,  2.79512009e-03, -4.64219381e-07,
          3.31634505e-09,  2.41207000e-03, -1.57212438e-04,
          3.03317993e-01]])

In [26]:
np.matrix

Temp1=HT*H
Temp2=Temp1.I  #Inverse of HT*H
Temp3=Temp2*HT #(HT*H)^-1*HT
w=Temp3*Y3     #((HT*H)^-1*HT)*Y

In [27]:
print(w)
w.shape

[[-6.84857047e+04]
 [ 6.75144335e+04]
 [ 3.03211017e+02]
 [-2.98319830e-01]
 [ 5.39815181e+04]
 [-3.36495113e+03]
 [ 6.55369505e+06]]

(7, 1)